@font-face {
    font-family: 'GothamRoundedBold';
    font-weight: 300;
    font-style: normal;
    src: url('../assets/fonts/GothamRounded-Bold/GothamRounded-Bold-300.eot');
    src: url('../assets/fonts/GothamRounded-Bold/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
    local('Gotham Rounded Bold'),
    local('GothamRoundedBold'),
    // url('../assets/fonts/GothamRounded-Bold/GothamRounded-Bold.woff2') format('woff2'),
    url('../assets/fonts/GothamRounded-Bold/GothamRounded-Bold.woff') format('woff'),
    url('../assets/fonts/GothamRounded-Bold/GothamRounded-Bold.ttf') format('truetype'),
    url('../assets/fonts/GothamRounded-Bold/GothamRounded-Bold.svg#Lato') format('svg');
}

@font-face {
    font-family: 'GothamRoundedBook';
    font-weight: 300;
    font-style: normal;
    src: url('../assets/fonts/GothamRounded-Book/GothamRounded-Book-300.eot');
    src: url('../assets/fonts/GothamRounded-Book/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
    local('Gotham Rounded Book'),
    local('GothamRoundedBook'),
    // url('../assets/fonts/GothamRounded-Book/GothamRounded-Book.woff2') format('woff2'),
    url('../assets/fonts/GothamRounded-Book/GothamRounded-Book.woff') format('woff'),
    url('../assets/fonts/GothamRounded-Book/GothamRounded-Book.ttf') format('truetype'),
    url('../assets/fonts/GothamRounded-Book/GothamRounded-Book.svg#Lato') format('svg');
}

:root{
    --main-backroung-color: #2C363F;
}

body{
    background-color: map-get($colors, primary) !important;
}

.alert-wrapper{
    background-color: rgb(27, 29, 32) !important;
    color: rgba(255, 255, 255, 0.81) !important;

    .alert-radio-icon{
        border-color: #8d8b8b;            
    }

    .alert-button{
        color: rgb(54, 193, 135);
    }

    .alert-radio-label, .alert-input{
        color: #fff;                
    }
}